ul[data-survey="Satisfaction Survey"] {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

/*ul[data-survey="Satisfaction Survey"] li {
    display: none;
}*/

ul[data-survey="Satisfaction Survey"] input {
    margin-top: 12px;
    margin-left: 0;
}

ul[data-survey="Satisfaction Survey"] h3 {
    margin-bottom: 15px;
}